<body>
    
    <div class="header">
        <mat-toolbar class=mat-toolbar-header>
          <span class="title">Arte & Amor</span>
        </mat-toolbar>
    </div>

    <div class="body-list">

        <mat-card class="card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="header-image"></div> -->
                <mat-card-title class="title-card">Quadro com Flores azuis</mat-card-title>
                <mat-card-subtitle class="subtitle-card">Artista: Adriana Nunes</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.ikebanaflores.com.br/media/wysiwyg/flores_azuis.jpg" alt="flor azul">
            <mat-card-content>
                <p>
                    Um belo quadro com flores azuis em tons claros e escuros.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" style="width: 100%;">Adquirir</button>
            </mat-card-actions>
        </mat-card>

    </div>
        
</body>

<footer>

</footer>